body {
    font-family: Arial, sans-serif;
    background-color: #14342b;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #bc6c25;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
    color: #bab700;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, select, button {
    margin-top: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #14342b;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #0f2a23;
}

#resultado {
    margin-top: 20px;
    font-size: 18px;
    color: #bab700;
    text-align: center;
}
